{{- $taxonomy := "authors" }}
{{- with .GetTerms $taxonomy }}
<div class="authorbox clearfix">
    {{- range $k, $author := . }}
        {{- if $author.Params.avatar }}
        <figure class="authorbox__avatar">
            <img alt="{{ $author.Title }} avatar" src="{{ $author.Params.avatar | relURL }}" class="avatar" height="90" width="90">
        </figure>
        {{- end }}
        <div class="authorbox__header">
            <span class="authorbox__name">
                <a href="{{ $author.RelPermalink }}">{{ $author.Title }}</a>
            </span>
        </div>
        {{- with $author.Params.bio }}
        <div class="authorbox__description">
            {{ . | markdownify }}
        </div>
        {{- end }}
    {{- end }}
</div>
{{- end }}